In [2]:
import pandas as pd

In [85]:
lager = pd.read_csv('https://plenty.runa-art.de/rest/catalogs/export/0b13c8bc-3c19-5677-843b-24c4cd883cc8/download/public?extension=csv',sep=',', dtype={'barcode':str}, parse_dates=['MHD'])
lager

,number,quantity,reservedStock,stockNet,variationTag,MHD,LocationName,barcode
0,000251a,31,1,31,"Bilder 1-3, Lagerbilder, Afrika, Wandbilder, D...",2024-10-06,D/08/1,4260273216737
1,000251a,1,1,31,"Bilder 1-3, Lagerbilder, Afrika, Wandbilder, D...",2024-11-08,D/10/1,4260273216737
2,002151a,5,1,39,"Bilder 1-3, Lagerbilder, Afrika, Wandbilder, D...",2024-07-31,F/07/1,4251285444683
3,002151a,35,1,39,"Bilder 1-3, Lagerbilder, Afrika, Wandbilder, D...",2024-10-23,H/10/1,4251285444683
4,002151b,30,0,30,"Bilder 1-3, Lagerbilder, Afrika, Wandbilder, D...",2024-10-16,I/04/1,4251285444690
...,...,...,...,...,...,...,...,...
346,043712a,46,0,46,"Lagerbilder, Wandbilder, Strand, Donnerstag La...",2024-10-11,H/14/3,4061331181994
347,043714a,47,0,47,"Lagerbilder, Wandbilder, Strand, Donnerstag Lager",2024-08-09,E/18/3,4061331181932
348,044212a,5,1,4,"Wandbilder, Blumen",NaT,B/08/3,4061331183585
349,044512a,3,0,3,"Wandbilder, Strand",NaT,B/04/3,4061331183035
350,043912a,2,0,2,"Wandbilder, Blumen",NaT,C/08/3,4061331182922

In [50]:
lager[lager['number'] == '043531a']

,number,quantity,reservedStock,stockNet,variationTag,MHD,LocationName,barcode
331,043531a,0,0,0,"Lagerbilder, A Farbe only, Wandbilder, Banksy,...",NaN,Default storage location,4061331181772

In [86]:
lager = lager.dropna(axis=0, subset='variationTag')

In [87]:
lagerbilder = lager[lager['variationTag'].str.contains('Lagerbilder')]

In [95]:
ean = '4061331014728'
lager_scaned = lagerbilder[lagerbilder['barcode'] == ean]

In [89]:
lager_scaned = lager_scaned.sort_values('MHD')

In [90]:
lager_scaned['MHD'] = lager_scaned['MHD'].dt.strftime('%d.%m.%Y')

In [91]:
lager_scaned

,number,quantity,reservedStock,stockNet,variationTag,MHD,LocationName,barcode
328,043555a,9,1,43,"Lagerbilder, A Farbe only, Wandbilder, Banksy,...",25.09.2024,I/07/1,4061331181802
329,043555a,35,1,43,"Lagerbilder, A Farbe only, Wandbilder, Banksy,...",18.10.2024,I/10/1,4061331181802

In [54]:
for sku in lager_scaned['number'].unique(): print("SKU: " + sku)
for i, r in lager_scaned.iterrows():
           print(" - " + str(r['quantity']) + " St." + " in " + r['LocationName'] + " - MHD: " + r['MHD'])

SKU: 000251a
 - 31 St. in D/08/1 - MHD: 2024-10-06
 - 1 St. in D/10/1 - MHD: 2024-11-08

In [98]:
sales = pd.read_csv('sales_last_6_m.csv', sep=';', dtype={'barcode':str})

In [99]:
whouse = sales.merge(lager, how='left',left_on='sku', right_on='number', indicator=True)

In [102]:
whouse = whouse[whouse['_merge'] == 'left_only'][['sku','barcode_x']]

KeyError: '_merge'

In [104]:
whouse_scaned = whouse[whouse['barcode_x'] == ean]

In [105]:
whouse_scaned

         sku      barcode_x
211  012955c  4061331014728

In [106]:
if ean in whouse_scaned['barcode_x'].tolist():
        for sku in whouse_scaned['sku'].unique(): print('SKU ' + sku + ' in Zapas')
else: print("Error")

SKU 012955c in Zapas

In [97]:
whouse['barcode_x'].tolist()

[4061331037697,
 4260349655484,
 4061331039554,
 4061331096274,
 4061331173180,
 4061331005627,
 4061331175801,
 4061331176136,
 4260442281580,
 4251285400306,
 4061331041885,
 4061331173906,
 4061331176082,
 4061331182106,
 4251285495234,
 4061331042073,
 4061331107819,
 4061331177317,
 4061331041878,
 4061331014728,
 4061331125806,
 4061331002534,
 4061331173623,
 4260442281535,
 4260442281658,
 4061331107581,
 4061331182472,
 4061331017170,
 4061331089238,
 4061331173920,
 4061331020330,
 4251285487727,
 4251285411388,
 4061331017286]